.sign-wrap {
  background-color: white;
  padding: 20px;
  color: rgb(43, 42, 42);
}

.radial-wrap {
  color: black;
  display: flex;
  justify-content: space-around;
  font-size: 27px;
}
form { position: relative; }

.pass-toggle {
  position: absolute;
  top: 110px;
  right: 12px;
  color: gray;
  cursor: pointer;
}

input[type='submit'].main {
  background: #E43C2A;
  border: 1px solid #E43C2A;
  font-size: 30px;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: 98%;
  margin-top: 10px;
  cursor: pointer;
}

input[type='submit'].fb.main {
  background-color: #183254;
  border: 1px solid #183254;
  font-size: 25px;
  padding: 15px;
}

.fb-wrap {
  position: relative;
}

.fb-icon {
  background-color: white;
  color: #183254;
  font-size: 35px;
  position: absolute;
  left: 18px;
  top: 20px;
  z-index: 5;
  border-radius: 50%;
  border: 2px solid #183254;
  cursor: pointer;
}

.btn-wrapper {
  text-align: center;
}