.cart-page-wrap {
  background-color: white;
  padding: 28px 24px;
  margin: 18px auto;
  display: inline-flex;
  justify-content: space-between;
  cursor: default;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 18px;
  padding-left: 100px;
  margin-left: 40px;
  justify-content: space-around;
}

.cart-wrap {
  max-width: 600px;
  box-shadow: 3px 8px 14px rgba(33, 33, 33, 0.6);
  overflow: hidden;
  padding: 20px 18px;
}