.cart-page-wrap {
  background-color: white;
  padding: 28px 24px;
  margin: 18px auto;
  display: inline-flex;
  justify-content: space-between;
  cursor: default;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 18px;
  padding-left: 100px;
  margin-left: 40px;
  justify-content: space-around;
}