.confirm_page_wrap {
  background-color: white;
  color: black;
  padding: 28px 24px;
  margin: 18px auto;
  display: inline-flex;
  justify-content: space-between;
  cursor: default;
}

.confirm_wrap {
  max-width: 600px;
  box-shadow: 3px 8px 14px rgba(33, 33, 33, 0.6);
  overflow: hidden;
  padding: 20px 18px;
}

.confirm_wrap h2 { font-size: 30px; float: left; }
.confirm_wrap h5 { margin-bottom: 0; }

.confirm_code {
  background-color: rgb(243, 243, 243);
  color: #cc2c53;
  padding: 5px;
  border: 1px solid black;
  cursor: copy;
  font-size: 25px;
}

.btn_return {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 3px 5px;
}