.progress_wrap {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  position: absolute;
  top: 24px;
  left: 25px;
  width: 90%;
  padding: 0 10px;
}

.active {
  position: relative;
  height: 20px;
  width: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(75, 75, 75);
  border-radius: 100%;
  padding: 8px;
}

.active_div {
  background: rgb(75, 75, 75);
}

.disabled {
  position: relative;
  height: 20px;
  width: 20px;
  color: rgb(201, 201, 201);
  background-color: rgb(150, 150, 150);
  border-radius: 100%;
  padding: 8px;
}

.disabled_div {
  background: rgb(150, 150, 150);
}

.div_bar {
  margin-top: 5px;
  width: 19%;
  height: 10px;
  overflow: visible;
}
